<div class="pro_layout">
  <div class="pro_layout-label">
    <label>Current User: thanhkxth2109048@fpt.edu.vn</label>
  </div>
  <div>
    <button>Add Product</button>
  </div>
  <div>
    <table class="pro_create">
      <thead class="pro_create-thead">
        <tr>
          <th>Sửa</th>
          <th>Xóa</th>
          <th><input type="text" placeholder="Product Name"></th>
          <th><input type="text" placeholder="Product Price"></th>
        </tr>
      </thead>
      <tr class="pro_cre-item" *ngFor="let pro of product">
        <td routerLink="/editproduct"><i class="fas fa-edit pro_cre-icon edit"></i></td>
        <td><i class="far fa-trash-alt pro_cre-icon delete"></i></td>
        <td>{{pro.productname}}</td>
        <td>{{pro.productprice}}</td>
      </tr>
    </table>
  </div>
</div>
